#container {
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 10%);
}

#form_select {
    grid-row: 2;
    grid-column: 3/5;
}

#size_select {
    grid-row: 2;
    grid-column: 5/7;
}

#usage_select {
    grid-row: 2;
    grid-column: 7/9;
}

#car_display {
    grid-row: 6/8;
    grid-column: 4/8;
}

    #car_display img {
        object-fit: cover;
        width: 100%;
    }

img {
    max-width: 100%;
    height: auto
}
